.container_3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 1170px;
}

.fon{
    width: 670px;
    height: 470px;  
    background: radial-gradient(50% 50% at 50% 50%, #92B5EE 0%, rgba(148, 183, 239, 0) 100%);
}

.container_3 p{
    width: 970px;
    text-align: center;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 2;
    text-align: center;
    letter-spacing: -0.015em;
    
}

.container_3 p span{
    font-weight: bold;
}

.container_3 h2{
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: -0.015em;
    margin: 50px 0 5px 0;
}

.container_3 h3{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.015em;
    margin: 50px 0 0 0;
} 

.container_3 .line{
    width: 170px;
    height: 2px;
    background: #C5C5C5;
    margin: 0;
}

.line_2{
    width: 1170px;
    height: 2px;
    background: #C5C5C5;
}

@media screen and (max-width: 360px){
    .container_3{
        width: 360px;
    }
    
    .fon{
        width: 360px;
        height: 600px;  
        background: radial-gradient(50% 50% at 50% 50%, #92B5EE 0%, rgba(148, 183, 239, 0) 100%);
        
    }
    
    .container_3 p{
        width: 300px;
    
        font-size: 14px;
        line-height: 1.5;
        
    }
    
    
    .container_3 h2{
        font-size: 24px;
        line-height: 28px;
        margin: 30px 0 5px 0;
    }
    
    .container_3 h3{
        font-size: 18px;
        line-height: 21px;
        margin: 50px 0 0 0;
    } 
    
    .container_3 .line{
        width: 100px;

    }
    
    .line_2{
        width: 360px;

    }
}