.container_6{
    width: 1170px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.container_6_inner{
    width: 900px;
}

.container_6 p{
    text-align: justify;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container_6 span{
    margin-top: 30px;
    text-align: center;
}

@media screen and (max-width: 360px){
    .container_6{
        width: 360px;
    }
    .container_6_inner{
        width: 300px;

    }
}