.container_4{

    width: 1170px;
}

.container_4 .section1{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin-left: 90px;
}
.container_4 .section2{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    position: relative;
    left: 0;
    margin-left: 90px;
}

.container_4 .section1 .img_1{
    width: 270px;
    height: 369px;
    background: url(../images/main_images/Rectangle3.png);
    margin-bottom: 10px;
    
    
}
.container_4 .section1 .img_2{
    width: 270px;
    height: 369px;
    background: url(../images/main_images/Rectangle5.png);
    margin-bottom: 10px;
}
.container_4 .section1 .img_3{
    width: 270px;
    height: 369px;
    background: url(../images/main_images/Rectangle6.png);
    margin-bottom: 10px;
}

.container_4 .section2 .img_4{
    width: 270px;
    height: 369px;
    background: url(../images/main_images/Rectangle8.png);
    margin-bottom: 10px;
}
.container_4 .section2 .img_5{
    width: 270px;
    height: 369px;
    background: url(../images/main_images/Rectangle9.png);
    background-size: cover;
    margin-bottom: 10px;
}
.container_4 .section2 .img_6{
    width: 270px;
    height: 369px;
    background: url(../images/main_images/Rectangle10.png);
    margin-bottom: 10px;
}

.container_4 h1{
    margin: 50px 0 20px 110px;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.015em;   
}

.container_4  a{
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.015em;
    color: black;
    
    
}

.container_4 a:hover{
    font-weight: bold;
    position: relative;
    left: 50px;

}

.section_inner{
    width: 270px;
    height: 440px;
    border: 2px solid #C4C4C4;

    margin: 0 30px 0 0;

    display: flex;
    align-items: center;
    flex-direction: column;
}


.price{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container_4 .price p{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.015em;
    margin: 5px 0 10px 0;
}

.container_4 .price p span{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.015em;
    
}

@media screen and (max-width: 640px){
    .container_4{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 640px;
    }
    
    .container_4 .section1{
 
        flex-direction: column;
        
        margin:0;
    }
    .container_4 .section2{
        flex-direction: column;
        
        margin:0;
    }

    .section_inner{
        width: 200px;
        height: 270px;
    
        margin: 10px 0 10px 0;
    
    }

    .container_4 .section1 .img_1{
        width: 200px;
        height: 200px;
        background: url(../images/slippers/Rectangle28.png);
        margin-bottom: 10px;
        
        
    }
    .container_4 .section1 .img_2{
        width: 200px;
        height: 200px;
        background: url(../images/Rectangle36.png);
        margin-bottom: 10px;
    }
    .container_4 .section1 .img_3{
        width: 200px;
        height: 200px;
        background: url(../images/slippers/Rectangle_27_3.png);
        margin-bottom: 10px;
    }
    
    .container_4 .section2 .img_4{
        width: 200px;
        height: 200px;
        background: url(../images/autumn_spring/Rectangle26.png);
        margin-bottom: 10px;
    }
    .container_4 .section2 .img_5{
        width: 200px;
        height: 200px;
        background: url(../images/autumn_spring/Rectangle27.png);
        background-size: cover;
        margin-bottom: 10px;
    }
    .container_4 .section2 .img_6{
        width: 200px;
        height: 200px;
        background: url(../images/autumn_spring/Rectangle28.png);
        margin-bottom: 10px;
    }
    

    .container_4  a{
        margin: 10px 0 30px 0 ;
        border-bottom: solid 2px #C4C4C4;
        
    }

    .container_4 h1{
        margin: 50px 0 20px 0;
        font-size: 36px;
 
    }
}

@media screen and (max-width: 360px){
    .container_4{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 360px;
    }
    
    .container_4 .section1{
 
        flex-direction: column;
        
        margin:0;
    }
    .container_4 .section2{
        flex-direction: column;
        
        margin:0;
    }

    .section_inner{
        width: 200px;
        height: 270px;
    
        margin: 10px 0 10px 0;
    
    }

    .container_4 .section1 .img_1{
        width: 200px;
        height: 200px;
        background: url(../images/slippers/Rectangle28.png);
        margin-bottom: 10px;
        
        
    }
    .container_4 .section1 .img_2{
        width: 200px;
        height: 200px;
        background: url(../images/Rectangle36.png);
        margin-bottom: 10px;
    }
    .container_4 .section1 .img_3{
        width: 200px;
        height: 200px;
        background: url(../images/slippers/Rectangle_27_3.png);
        margin-bottom: 10px;
    }
    
    .container_4 .section2 .img_4{
        width: 200px;
        height: 200px;
        background: url(../images/autumn_spring/Rectangle26.png);
        margin-bottom: 10px;
    }
    .container_4 .section2 .img_5{
        width: 200px;
        height: 200px;
        background: url(../images/autumn_spring/Rectangle27.png);
        background-size: cover;
        margin-bottom: 10px;
    }
    .container_4 .section2 .img_6{
        width: 200px;
        height: 200px;
        background: url(../images/autumn_spring/Rectangle28.png);
        margin-bottom: 10px;
    }
    

    .container_4  a{
        margin: 10px 0 30px 0 ;
        border-bottom: solid 2px #C4C4C4;
        
    }

    .container_4 h1{
        margin: 50px 0 20px 0;
        font-size: 36px;
 
    }
}