footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 1170px;
    height: 270px;
    background: rgba(146, 181, 238, 0.46);

    margin-top: 50px;
}

.section_footer_1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 30px 0 0 0;

    width: 1170px;
}

.contacts{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
}

.soc_seti{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.soc_seti_png1{
    width: 30px;
    height: 30px;
    background: url(../images/Rectangle13.png);
    margin-right: 20px;
}
.soc_seti_png2{
    width: 30px;
    height: 30px;
    background: url(../images/Rectangle14.png);
}

.text_contacts{
    text-decoration: none;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.015em;

    color: #777777;

    margin-bottom: 10px;
}

.text_contacts span{
    font-weight: bold;
}

.text_footer{

    text-decoration: none;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.015em;

    color: #777777;

    margin: 0 50px 0 50px;
}

.text_footer_contacts{
    text-decoration: none;

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    letter-spacing: -0.015em;

    color: #777777;

    margin-bottom: 20px;
}

.logo_footer{
    
    
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.015em;
    



    
    background: url(../images/logo.png);
    background-repeat: no-repeat;

    margin-bottom: 20px;
}

.text_logo_footer{
    text-decoration: none;
    color: #777777;
    margin-left: 12px;
}

@media screen and (max-width: 640px){
    footer{
        width: 640px;
        height: 360px;
    }

    .section_footer_1{
        width: 640px;
        flex-direction: column;
    }

    .text_footer{
    
        margin: 20px 50px 0 50px;
    }

    .text_footer_contacts{
    
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 360px){
    footer{
        width: 360px;
        height: 360px;
    }

    .section_footer_1{
        width: 360px;
        flex-direction: column;
    }

    .text_footer{
    
        margin: 20px 50px 0 50px;
    }

    .text_footer_contacts{
    
        margin-bottom: 5px;
    }
}